<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79384365497-4mt0687gvn6h2j4dq1hjui852fa5relp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79384365497-4mt0687gvn6h2j4dq1hjui852fa5relp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79384365497-m1nkkqafntcq9pgssgl5t82j3crh2tj6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Asn9k6b-ZZymKdt3_9n3msxELKzs24E</string>
	<key>GCM_SENDER_ID</key>
	<string>79384365497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getmygps</string>
	<key>PROJECT_ID</key>
	<string>get-my-gps</string>
	<key>STORAGE_BUCKET</key>
	<string>get-my-gps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79384365497:ios:b96d49b88ee11a1dfdce68</string>
</dict>
</plist>